import { _Command, Neptune, Util, discord } from '../../index';
import { Message } from 'discord.js';
import path from 'path';

class Command extends _Command {
    constructor(nep: Neptune) {
        let cmd = `${nep.prefix}${path.basename(__filename, '.ts')}`;

        super(nep, {
            name: path.basename(__filename, '.ts'),
            help: ``,
            longHelp: ``,
            usage: [`• ${cmd}`],
            examples: [`• ${cmd}`],
            category: path.dirname(__filename).split(path.sep).pop(),
            cooldown: 1e3,
            aliases: [],
            locked: false,
            allowDM: true
        });
    }

    public async _run(msg: Message, args: string[], util: Util, nep: Neptune) {
        CODE
    }
}

export default Command;
